<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tvalertsocial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="23" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.tvalertsocial.TvAlertSocial">
        <activity
            android:name="org.tvalertsocial.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.tvalertsocial.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="org.tvalertsocial.RoomList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="org.tvalertsocial.Chat"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e61fe048889b6c5e0d3ca861a3717fa5f446ed83"/>
    </application>
    <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity">
    </activity>
</manifest>
